.Card {
    padding: 30px;
    border-radius: 8px;
    background-color: #F8F8F8;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    letter-spacing: 1.5px;
}

.Card h1, .Card h2 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
}

.Card .container-img {
    width: 160px;
    height: 160px;
    padding: 20px;
    border-radius: 50%;
    margin: 30px auto;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.Card .container-img img {
    margin: 0;
    max-width: 100%;
    display: block;
}

@keyframes girar {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.Card.carregando .container-img, .Card.carregando-home .container-img{
	padding: 0;
}

.Card.carregando .container-img img, .Card.carregando-home .container-img img {
	animation: girar 1s infinite;
}

.Card p {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.Card.carregando-home p {
    display: none;
}

.Card.erro .legenda {
    color: #D55;
}

.Card .numero {
    max-width: 60px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0 auto 15px;
    font-size: 16px;
    color: #777;
    background-color: rgba(0, 0, 0, 0.1);
}

.Card.carregando-home .numero {
    display: none;
}

.Card .tipos {
    color: #777;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

.Card .fire {color: #F62}
.Card .grass  { color: #6F0 }
.Card .electric  { color: #EA2 }
.Card .water  { color: #20F }
.Card .ground  { color: #BB0 }
.Card .rock  { color: #770 }
.Card .fairy  { color: #F99 }
.Card .poison  { color: #B2F }
.Card .bug  { color: #AC0 }
.Card .dragon  { color: #079 }
.Card .psychic  { color: #D08 }
.Card .flying  { color: #AAC }
.Card .fighting  { color: #B22 }
.Card .normal  { color: #888 }
.Card .ice  { color: #2AD }
.Card .steel  { color: #B6B6B6 }