.Pokedex {
    padding: 60px;
    letter-spacing: 1.5px;
}

.Pokedex h1 {
    margin: 0 auto 15px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.747)
}

.Pokedex .lista {
    flex-wrap: wrap;
}

.Pokedex .lista li {
    margin: 15px 15px 0;
}

@media only screen and (max-width: 979px) {
    .Pokedex {
        padding: 30px;
    }
}

@media only screen and (max-width: 739px) {
    .Pokedex {
        padding: 15px;
    }
}