.tabela {
    margin: 2rem 2rem 0  0;
}

@media (max-width: 50rem) {
    .tabela {
        margin: 2rem 0 0;
    }
}

.titulo {
    font-size: 1.125rem;
    text-transform: uppercase;
    color: #164673;
}

.tabela > div:nth-child(2) {
    border-radius: 5px 5px 0 0;
}

.tabela > div:last-child {
    border-radius: 0 0 5px 5px;
}

.titulos, .dados{
    color: #F4F4F4;
    background-image: linear-gradient(90deg, #164673, #0a2549);
    display: grid;
    grid-template-columns: 120px 90px 90px;
}

.titulos span, .dados span {
    width: 100%;
    padding: 0.5rem;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dados:nth-child(odd) {
    color: #222;
    background-image: linear-gradient(90deg, #A9D7F1, #6a9bb8);
}