.card {
    width: 12rem;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    align-items: center;
}

.verde {
    background: linear-gradient(
        110.24deg, rgba(4, 214, 64, 0.55) 55.29%,
        rgba(63, 242, 112, 0.498897) 63.54%,
        rgba(35, 181, 76, 0.55) 72.81%,
        rgba(165, 249, 189, 0.55) 81.95%,
        rgba(61, 242, 111, 0.497756) 92.65%,
        rgba(29, 231, 84, 0) 92.66%
    );
}

.amarelo {
    background: linear-gradient(
        109.83deg,
        #F1E71D 25.35%,
        #FFF203 49.33%,
        #E3DB38 62.05%,
        rgba(255, 247, 83, 0.537782) 72.94%,
        rgba(248, 242, 130, 0.776513) 75.18%,
        #F1E61E 78.61%, rgba(255, 243, 2, 0.27)
        94.96%, rgba(255, 243, 2, 0.27) 100%,
        rgba(255, 243, 2, 0.27) 100%
    );
}

.laranja {
    background: linear-gradient(
        109.53deg,
        #FD9700 42.43%,
        rgba(253, 151, 0, 0.984678) 42.44%,
        rgba(255, 153, 0, 0.381257) 67.43%,
        #FF9800 73.66%,
        rgba(255, 181, 70, 0) 90.54%
    );
}

.vermelho {
    background: linear-gradient(
        112.42deg,
        #EE483C 45.83%,
        #FCA099 67.44%,
        #F2554A 73.83%,
        rgba(243, 61, 48, 0) 95.97%
    );
}

.nome {
    grid-column: 1 / 3;
}

.nome::after {
    content: "";
    width: 20px;
    height: 1.5px;
    margin-top: 2px;
    background-color: currentColor;
    display: block;
}

.temperatura {
    display: flex;
    align-items: center;
}

.temperatura::after {
    content: "";
    width: 2px;
    height: 1rem;
    margin-left: 1rem;
    background-color: currentColor;
    display: inline-block;   
}