.logado .login{
    display: none;
}

.login {
    padding: ($distancia-y-g * 2) 0;
    display: block;

    @include responsividade() {
        padding: $distancia-y-g 0;
    }
    
    .container-titulo {
        max-width: 480px;
        margin: 0 auto;
        text-align: center;
        color: $azul;
        
        h1 {
            font-size: em(36);
        }
        
        span{
            @include ornamento;
        }
        
        @include responsividade(mobile) {
            max-width: 300px;
            
            span {
                @include ornamento(16, 2);
            }
        }
    }

    p {
        max-width: 600px;
        margin: $distancia-y-p auto $distancia-y-m;
        font-size: em(18);
        line-height: 1.4em;
        text-align: center;
        color: rgba($color: $azul, $alpha: 0.6);

        @include responsividade(mobile) {
            max-width: 300px;
            font-size: em(14);
        }
    }
    
    button{
        @include sombra (2px 2px 4px rgba(0,0,0,0.25));
        
        
        padding: $distancia-y-p;
        border: none;
        text-transform: uppercase;
        border-radius: 4px;
        margin: auto;
        color: $branco;
        font-size: em(18);
        background-color: $azul;
        display: block;
        cursor: pointer;
        
        &:hover {
            animation: mover 0.4s ease;
        }
    
        @include responsividade() {
            font-size: em(16);
        }
    }
}