.logado main{
    display: grid;
}

main {
    padding: $distancia-y-g 0;
    position: relative;
    display: none;
    grid-template-columns: 1fr 1000px minmax(120px, 1fr);
    justify-content: center;
    gap: $distancia-y-m $distancia-x;

    @include responsividade(tablet) {
        grid-template-columns: 1fr 700px 1fr;
    }

    @include responsividade() {
        max-width: 300px;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }


    &.carregando {
        .carregar {
            display: block;
            animation: girar 1.5s ease infinite;
            opacity: 1;
        }

        .card-cardapio, [data-btn="adicionar"] {
            display: none;
        }
    }

    & > .container-titulo {
        max-width: 480px;
        margin: 0 auto;
        text-align: center;
        color: $azul;
        grid-column: 1 / -1;

        h1 {
            font-size: em(36);
        }

        span {
            @include ornamento();
        }

        @include responsividade(mobile) {
            max-width: 300px;

            h1 {
                font-size: em(20);
            }

            span {
                @include ornamento(16, 2);
            }
        }
    }

    .carregar {
        max-width: 160px;
        margin: $distancia-y-g auto;
        grid-column: 1 / -1;
        display: none;
    }

    .icon-container {
        @include sombra(2px 2px 4px rgba(0, 0, 0, 0.25));

        width: 120px;
        height: 120px;
        border: none;
        border-radius: 50%;
        background-color: #FFF;
    }

    [data-btn="adicionar"] {
        @include sombra(4px 4px 8px rgba(0, 0, 0, 0.4));

        width: 80px;
        height: 80px;
        margin-right: 20px;
        padding: $distancia-x;
        grid-column: 3;
        justify-self: center;
        align-self: flex-start;
        position: sticky;
        top: 500px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            transform: rotate(90deg);   
        }
    
        @include responsividade() {
            width: 100px;
            height: 100px;
            padding: $distancia-x;
            margin-right: 0;
            grid-column: auto;
            grid-row: 2;
            position: relative;
            top: 0;
        }
    }

    .container-card {
        width: 100%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $distancia-y-m $distancia-x;
        grid-column: 2;
        grid-row: 2;

        @include responsividade(tablet) {
            max-width: 700px;
            grid-template-columns: repeat(2, 1fr);
        }
    
        @include responsividade() {
            max-width: 300px;
            grid-column: auto;
            grid-row: auto;
            grid-template-columns: 1fr;
        }
    }

    .card-cardapio {
        @include sombra(2px 2px 4px rgba(0, 0, 0, 0.25));

        padding: $distancia-y-m $distancia-x;
        border-radius: 4px;
        color: $branco;
        background-color: $azul;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr repeat(2, 48px) 1fr;
        grid-template-areas: ". editar remover ." "icone icone icone icone" "nome nome nome nome" "desc desc desc desc";
        gap: $distancia-y-m 10px;
        justify-content: center;

        button {
            padding: 10px;
            border: none;
            border-bottom: 1px solid rgba($color: $branco, $alpha: 0.3);
            background-color: transparent;
            cursor: pointer;
            transition: 0.2s;

            &:hover img{
                animation: mover 0.4s ease;
            }
        }

        .icone-editar {
            grid-area: editar;
        }

        .icone-remover {
            grid-area: remover;
        }

        .container-titulo {
            grid-area: nome;

            h2 {
                font-size: em(18);
            }

            span {
                @include ornamento(16, 2);
                opacity: 0.3;
            }
        }

        .icon-container {
            padding: $distancia-x;
            margin: 0 auto;
            grid-area: icone;
        }

        p {
            font-size: em(14);
            line-height: 1.4em;
            grid-area: desc;
        }
    }
}