// Cores
$azul: #0E2C52;
$branco: #F8F8F8;

// Medidas
$distancia-x: 20px;
$distancia-y-p: 15px;
$distancia-y-m: 30px;
$distancia-y-g: 60px; 

// Mixin Sombra
@mixin sombra($sombra...) {
    -webkit-box-shadow: $sombra;
    -moz-box-shadow: $sombra;
    box-shadow: $sombra;
}

// Como é um estilo que a gente vai usar bastante, vou jogar num mixin
@mixin ornamento($tamanho: 24, $altura-sep: 3) {
    margin-top: 5px;
    font-size: em($tamanho);
    display: flex;
    justify-content: center;
    align-items: center;
    
    &::before, &::after {
        content: "";
        width: $altura-sep * 15 * 1px;
        height: $altura-sep * 1px;
        background-color: currentColor;
        display: inline-block;
    }
    
    &::before {
        margin-right: 5px;
    }
    
    &::after {
        margin-left: 5px;
    }
}

// Converter valores para em
@function em($pixel, $padrao_navegador: 16) {
    @return ($pixel / $padrao_navegador) * 1em;
}

// Animação
@keyframes mover {
    0% {
        transform: translate3d(0, 0, 0);
    } 50% {
        transform: translate3d(-10px, -2px, 0);
    } 100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes descer {
    from {
        transform: translate3d(0, -100px, 0);
        opacity: 0;
    } to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes girar {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}

// Responsividade
@mixin responsividade($tela: mobile) {
    @if ($tela == mobile) {
        @media (max-width: 860px) {
            @content;
        }
    } @else {
        @media (max-width: 1200px) {
            @content;
        }
    }
}