.carregando-home .buscaContainer {
    display: none;
}

.buscaContainer {
    margin: 0 auto;
    flex-direction: column;
}

.buscaContainer input {
    padding: 8px 15px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    margin-top: 15px;
    font-size: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    outline-color: rgba(0, 0, 0, 0.4);
}

.buscaContainer button {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    background-color: #37C;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all ease 0.3s;
}

.buscaContainer button:hover {
    background-color: #15A;
}

@media only screen and (max-width: 979px) {
    .buscaContainer button {
        padding: 16px 0;
    }

    .buscaContainer input {
        padding: 15px;
    }
}

@media only screen and (max-width: 739px) {
    .buscaContainer button {
        margin-bottom: 0;
    }

    .buscaContainer input {
        margin-bottom: 0;
    }
}